@media (max-width: 960px) {
  .card .api-key-status-badge--expired {
    background: #bd6464;
    color: #fff;
  }

  .card .api-key-status-badge {
    min-width: 0;
    height: 25px;
    flex-shrink: 0;
    padding: 0 10px;
    font-size: 0.8rem;
  }
}
